body {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  margin:15px;
  padding:15px;
}

/* Navigation */
.fot{
	vertical-align: middle;
	margin-left:20px;
}
.h{
	font-family: 'Oxygen', sans-serif;
	font-size: 17px;
	position:fixed;
	top:0px;
	left:0px;
	display:inline-block;
    width: 100%;
	text-align:normal;
	background-color: rgba(255, 255, 255, 0.5);
}


.h a{
	text-decoration: none;
    color: black;
    display: inline-block;
	
	
	
}
.hi{
	padding: 13px;
	left:10px;

}



.hi:hover {
  background:#DCCBED80;
}
.search {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  color: #AAA;
  padding: 20px;
  margin: 50px auto 0px auto;
  width: 77%;
}
.fixed{
	position:fixed;
	left:0;
	top:50%;
}
.fixed a:hover {
	opacity:0.5;
}
.foto{
	border-radius: 50%;
}
.he{
	font-family: 'Dancing Script', cursive;
}
.head{
	width:100%;
	padding:225px 0px;
	font-family: 'Dancing Script', cursive;
	font-size:40px;
	color:white;
	text-align:center;
	background-image: url('pg.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size:100%;
}
#aboutme{
	position:absolute;
	left:0px;
	color:black;
	background-color: white;
  background-position:right ;
  background-repeat: no-repeat;
  padding:20px 200px;
  text-align:center;
  padding-bottom:100px;
}
.home{
	background-image: url('4.jpg');
  background-position:center;
  background-repeat: no-repeat;
  background-size:100%;
  color:white;
 
  
  
}

#poetry{
	width: 700px;
	height: 800px;
	background-image: url('g.jpg');
	background-color:#f0ffff;
  background-position:0px;
  background-repeat: no-repeat;
  margin-left:660px;
  background-size:650px;
}
#blog{
	background-image: url('cld.jpg');
	background-size:     cover;                     
	    background-repeat:   no-repeat;
	    background-position: center center;
}
.grid-container1 {
  display: grid;
  grid-template-columns: 700px 700px;
  grid-template-rows:600px;
  color:#1f1f1f;
  
  padding: 10px;
}
.grid-item1 {
  padding: 20px;
  font-size: 20px;
}
.tengah{
text-align:center;
padding:150px;
}
.pinggir{
	padding:100px 30px;
text-align:right;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap:20px 20px;
  vertical-align: middle;
}

.grid-item {
  background-color: black;
  color:white;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  width:400px;
}


#smpoetry{
    background-color:#f0ffff;
}
}
#ed{
	color:black;
}
